@media (max-width: 768px) {
    table tr {
        display: none;
    }

    .backlog-item {
        flex-direction: column;
    }

    table tr td:last-child, th:last-child {
        width: 100%;
    }

    .backlog-item-image-name {
        flex-direction: column;
    }

    .date-category-importance-container {
        flex-direction: column;
    }

    .overlay-container {
        width: unset;
    }

    .title-input {
        width: 90%;
    }
}