.d-none {
    display: none !important;
}

.navigation-container {
    height: auto !important;
}

.backlog {
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


.backlog-heading {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
}

.backlog-slogan {
    font-size: 16px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 24px;
    color: #1E3190;
}

table {
    border-spacing: 0px;
    width: 100%;
}

table tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

table td, th {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table th {
    font-size: 14px;
    font-weight: 700;
    color: #1E3190;
    text-transform: uppercase;
}

table tr td:first-child, th:first-child {
    width: 30%;
}

table tr td:nth-child(2), th:nth-child(2) {
    width: 30%;
}

table tr td:last-child, th:last-child {
    width: 40%;
}

.backlog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #F4F3FB;
    border-radius: 15px;
    cursor: pointer;
}

.backlog-item-image-name {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.backlog-user-image {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-left: 12px;
    margin-right: 12px;
}

.backlog-item-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-mail-container {
    display: flex;
    flex-direction: column;
}

.email {
    color: #596fbd;
}

.category {
    margin: 0px 12px 0px 12px;
}

.details {
    text-align: justify;
}

.backlog-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.overlay-container {
    z-index: 10;
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #F4F3FB;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #DFE2E6;
    padding: 20px 20px 0px 20px;
}

.close-icon {
    cursor: pointer;
}

.overlay-body {
    padding: 20px;
}

.form-boxes {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    font-weight: 700;
    color: #1E3190;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.form-input-outer {
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 12px 6px;
    font-size: 14px;
    margin-bottom: 16px;
    border: 1px solid rgba(128, 128, 128, 0.555);
    outline: none;
    border-radius: 4px;
}

.form-description {

}

.form-textarea {
    height: 125px;
    resize: none;
}

.date-category-importance-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-date {
    display: flex;
    align-items: center;
}

.form-category {
    display: flex;
    align-items: center;
}

.form-urgency {
    display: flex;
    align-items: center;
}

.form-icon-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-left: 16px;
}

.form-icon-box-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
    font-size: 13px;
}

.form-icon-user {
    width: 56px;
    cursor: pointer;
    opacity: 0.6;
}

.form-icon-user:active {
    opacity: 1;
}

.form-icon-user:hover {
    opacity: 1 !important;
}

.form-icon-plus {
    width: 32px;
    cursor: pointer;
    opacity: 0.75;
    transition: all 125ms ease-in-out;
}

.form-icon-plus:hover {
    opacity: 1;
}

.save-send-container {
    border-top: 1px solid #DFE2E6;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

.overlay-button {
    padding: 8px;
    cursor: pointer;
}

.save-button {
    background-color: unset;
    color: green;
    border: 1px solid green;
    border-radius: 4px;
}

.save-button:hover {
    background-color: green;
    color: white;
    opacity: 0.5;
}

.send-button {
    background-color: #296B9A;
    border: 1px solid #2c648f;
    border-radius: 4px;
    color: white;
}

.send-button:hover {
    opacity: 0.7;
}