.navigation-container {
    height: auto !important;
}

.add-task {
    padding: 20px 20px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.add-task-heading {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
}

.add-task-slogan {
    font-size: 16px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 24px;
    color: #1E3190;
}

.form {
    padding: 16px 24px 0px 24px;
    background-color: #f4f3fb;
    border-radius: 12px;
}

.form-form {
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-left-section {
    padding-right: 12px;
    width: 50%;
}

.form-right-section {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-boxes {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    font-weight: 700;
    color: #1E3190;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.form-input-outer {
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 12px 6px;
    font-size: 14px;
    margin-bottom: 16px;
    border: 1px solid rgba(128, 128, 128, 0.555);
    outline: none;
    border-radius: 4px;
}

.form-option {
    line-height: 2;
}

.form-textarea {
    height: 125px;
    resize: none;
}

.form-select {
    cursor: pointer;
}

.form-icon-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-left: 16px;
}

.form-icon-box-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
    font-size: 13px;
}

.form-icon-user {
    width: 56px;
    cursor: pointer;
    opacity: 0.6;
}

.form-icon-user:active {
    opacity: 1;
}

.form-icon-user:hover {
    opacity: 1 !important;
}

.form-icon-plus {
    width: 32px;
    cursor: pointer;
    opacity: 0.75;
    transition: all 125ms ease-in-out;
}

.form-icon-plus:hover {
    opacity: 1;
}

.form-button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-top: 16px;
}

.form-button {
    padding: 16px 16px;
    border-radius: 8px;
    color: white;
    background-color: #1E3190;
    border: none;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.form-button-cancel{
    margin-right: 16px;
    color: #1E3190;
    font-weight: 700;
    background-color: transparent;
}

.form-button-cancel:hover {
    color: #5c71d9;
}

.form-button-create:hover {
    background-color: #3145ab;
}

.button-animation {
    animation: changeColor 500ms 1 both;
}

@keyframes changeColor {
    from {
        background-color: #3145ab;
    }
    to {
        background-color: #31ab3b;
    }
    
}

@media (max-width: 768px) {

    .form-container {
        flex-direction: column;
    }
    .form-left-section {
        padding: 0;
        width: 100%;
    }
    .form-right-section {
        padding: 0;
        width: 100%;
    }
    .form {
        padding: 16px 24px;
    }
}

@media (max-width: 576px) {
    .add-task{
        padding: 12px 0;
    }
    .add-task-heading {
        padding-left: 12px;
    }
    .add-task-slogan {
        padding-left: 12px;
    }
    .form-button {
        font-size: 12px;
    }
    .form {
        padding: 12px 12px;
    }

}

.d-none {
    display: none;
}