.navigation-container {
    height: auto !important;
}

.help {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.help-heading {
    font-size: 22px;
    font-weight: 700;
}